service vendor.gl.ledcontrol-1-0 /system/vendor/bin/hw/vendor.gl.ledcontrol@1.0-service.hikey960
    # class hal
    # user system
    # group system


    # init language extension, provides information of what service is served
    # if multiple interfaces are served, they can be specified one on each line
    interface vendor.gl.ledcontrol@1.0::ILedControl default
    # restarted if hwservicemanager dies
    # would also cause the hal to start early during boot if oneshot wasn't set
    class hal
    # will not be restarted if it exits until it is requested to be restarted
    oneshot
    # will only be started when requested
    #disabled
    # ... other properties
    user vendor_ledcontrol
    group vendor_ledcontrol
